@import "tailwindcss";
@plugin "daisyui";


.featured {
    background-image: url("/src/assets/home/featured.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login{
   background-image: url("/src/assets/others/authentication.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}